## Задание №1. Первичный анализ данных с использованием описательных статистик и визуализации

Веберите любые данные из репозитория данных для машинного обучения (UCI Machine learning repository: http://archive.ics.uci.edu/ml/index.php) и проведите их первичный анализ в соответсвии со следующей схемой. Комментарии к каждому разделу обязательны.

*Выполнил:* Бронников Егор ПМ-1901

*Последнее изменение:* 15/09/2021

## Данные

*Источник:* http://archive.ics.uci.edu/ml/datasets/Productivity+Prediction+of+Garment+Employees

*Название:* Productivity Prediction of Garment Employees

### Описание данных

Швейная промышленность - один из ключевых примеров индустриальной глобализации современной эпохи. Это очень трудоемкая отрасль с большим количеством ручных процессов. Удовлетворение огромного мирового спроса на швейную продукцию в основном зависит от производительности и производительности сотрудников компаний-производителей одежды. Таким образом, среди лиц, принимающих решения в швейной промышленности, крайне желательно отслеживать, анализировать и прогнозировать производительность рабочих групп на своих фабриках. Этот набор данных можно использовать для целей регрессии путем прогнозирования диапазона продуктивности (0-1) или для целей классификации путем преобразования диапазона продуктивности (0-1) в различные классы.

### Описание полей

1. **date** — дата *(DD-MM-YY)*
1. **quater** — часть месяца, месяц был разделён на 4 квартала
1. **department** — связанный отдел с экземпляром
1. **day** — день недели
1. **team** — связанный номер команды с экземпляром
1. **targeted_productivity** — целевая производительность, устанавливаемая управлением для каждой команды на каждый день
1. **smv** — *Standart Minute Value* — выделенное время для задачи
1. **wip** — *Work in Progress* — включает в себя количество незавершенных изделий для продуктов
1. **over_time** — показывает количество сверхурочных для каждой команды в минутах
1. **incentive** — представляет размер финансового стимула (в BDT), который позволяет или мотивирует определенный образ действий
1. **idle_time** — количество времени, когда производство было прервано по нескольким причинам
1. **idle_men** — количество рабочих, которые простаивали из-за перебоев в производстве 
1. **no_of_style_change** — количество изменений стиля конкретного товара
1. **no_of_workers** — количество рабочих в каждой команде
1. **actual_productivity** — фактический % производительности, достигнутой рабочими. Он колеблется от 0 до 1.

## Импорты

In [2]:
import pandas as pd

## Посмотрим на данные

In [11]:
df = pd.read_csv("/home/egor/Downloads/garments_worker_productivity.csv")
df.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382

## Размерность данных

In [12]:
df.shape

(1197, 15)

## Типы данных

In [13]:
df.dtypes

date                      object
quarter                   object
department                object
day                       object
team                       int64
targeted_productivity    float64
smv                      float64
wip                      float64
over_time                  int64
incentive                  int64
idle_time                float64
idle_men                   int64
no_of_style_change         int64
no_of_workers            float64
actual_productivity      float64
dtype: object

## Описательные статистики

In [14]:
df.describe()

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
count,1197.000000,1197.000000,1197.000000,691.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000
mean,6.426901,0.729632,15.062172,1190.465991,4567.460317,38.210526,0.730159,0.369256,0.150376,34.609858,0.735091
std,3.463963,0.097891,10.943219,1837.455001,3348.823563,160.182643,12.709757,3.268987,0.427848,22.197687,0.174488
min,1.000000,0.070000,2.900000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.233705
25%,3.000000,0.700000,3.940000,774.500000,1440.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.650307
50%,6.000000,0.750000,15.260000,1039.000000,3960.000000,0.000000,0.000000,0.000000,0.000000,34.000000,0.773333
75%,9.000000,0.800000,24.260000,1252.500000,6960.000000,50.000000,0.000000,0.000000,0.000000,57.000000,0.850253
max,12.000000,0.800000,54.560000,23122.000000,25920.000000,3600.000000,300.000000,45.000000,2.000000,89.000000,1.120437

## Распределение данных по классам

## Корреляция между признаками

## Ассиметрия одномерных распределений

## Univariate Plots (одномерные графики распределений)

### Histograms (гистограммы)

### Density Plots (ядерные оценки плотности)

### Box and Whisker Plots (ящики с усами)

## Multivariate Plots (многомерные графики распределений)

### Correlation Matrix Plot (коррелограмма)

### Scatter Plot Matrix (диаграмма рассеяния)